
table, th , td , tr {border: 1px solid black; border-radius: 0px !important;}
table ,th , td , tr {text-align:  center;}
table {background-color: rgb(160, 21, 21);}
body {background-color: green}
td{font-style:arial ;}
td{font-size: 3;}  
.bolded { font-weight: bold }
th { size: 400px;}
